<!-- <ul *ngFor="let name of programmingLanguages; index as i">
  <li>
    {{name}}
  </li>
</ul> -->
<div style="text-align:start; background-color: #FAEBD7">
  <h2>
      Progamming Langueses list from local json file...
  </h2>
  <ul *ngFor="let item of programmingLanguages; index as i ">
    
     <li *ngIf="i %2 ==0">
        <h3 style="color: blue;"> <a target="_blank" style="text-decoration: none" href="{{item.code}}">Name :{{item.name}}</a> </h3>
     </li>
     <li *ngIf="i %2 ==1">
        <h3 style="color: red;"> <a target="_blank" style="color: red; text-decoration: none;" href="{{item.code}}"> Name :{{item.name}}</a></h3>
     </li>
  </ul>
</div>
<app-users></app-users>
<router-outlet></router-outlet>
